#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

DEB_VERSION_BASE	 = $(firstword $(subst +, ,$(subst ~, ,$(subst ., ,$(DEB_VERSION)))))
DEB_VERSION_SUFFIX	 = $(patsubst $(DEB_VERSION_BASE)%,%,$(DEB_VERSION))

v3 := 3.13.3-$(shell expr $(DEB_VERSION_BASE) - 14)$(DEB_VERSION_SUFFIX)

%:
	dh $@

override_dh_installdocs:
	dh_installdocs -ppython-is-python3 -ppython-dev-is-python3 --link-doc=python-is-python3

override_dh_gencontrol:
	dh_gencontrol -ppython-is-python3 -- -v$(v3)
	dh_gencontrol -ppython-dev-is-python3 -- -v$(v3)
